.downwarp-tip,
.upwarp-tip {
  margin-bottom: 0;
}
.mescroll {
  position: fixed;
  top: 44px;
  bottom: 0;
  height: auto;
}
.mescroll-upwarp.mescroll-hardware {
  padding: 0;
  height: 20px;
  line-height: 20px;
}
.goodList {
  background-color: #fff;
  width: 100%;
  border-bottom: 0.5px solid #eee;
}
.goodList .li_img {
  width: 30%;
  text-align: center;
}
.goodList .li_img img {
  width: 100px;
}
.goodList .li_info {
  width: 70%;
  padding: 4px;
}
.goodList .li_info p {
  color: #333;
  margin-top: 16px;
  text-indent: 1em;
}
